.profile-content {
  position: absolute;
  left: calc(100vw / 2 - 310px);

  width: 620px;
  margin: 100px auto;
  font-family: Arial, Helvetica, sans-serif;

  color: white;

  /* transition-delay: 0.5s; */
  transition-duration: 1s;
  opacity: 0;
}

.profile-content.change {
  /* opacity: 1; */
}

.profile-content .profile-nav-header {
  width: 100%;
  margin: 0px auto;

  font-size: 15px;
  font-weight: bold;

  text-transform: uppercase;
  text-align: center;

  letter-spacing: 0.4rem;
}

.profile-content a {
  text-decoration: none;
}

.profile-content .profile-nav-header .profile-name {
  padding: 0px 10px;
  position: relative;
  background-color: #1F4A54;
  font-family: "Arial Black", Gadget, sans-serif;
}

.profile-content .profile-nav-header .profile-nav-bar {
  background-color: white;
  height: 2px;
  width: 100%;
  position: relative;
  top: 12px;
}

.profile-content ul {
  list-style-type: none;
  padding: 0px 0px 30px;


  font-size: 40px;
  font-weight: bold;

  text-align: center;
  letter-spacing: 0.1rem;
}

.profile-content ul li {
  height: 80px;
}

.profile-content ul li a {
  height: 80px;
  display: inline-block;
  line-height: 80px;
  color: white;

  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.profile-content ul li a:hover {
  background-color: #fff;
  color: #1F4A54;
}


.profile-content .profile-footer {
  border-top: 2px solid #80BECE;
  border-bottom: 2px solid #80BECE;

  display: flex;
  justify-content: space-between;
}

.profile-content .profile-footer .profile-footer-item {
  width: 200px;
  height: 70px;

  margin: 20px 5px;

  font-size: 25px;
  font-weight: bold;
  color: #80BECE;

  text-align: center;
  line-height: 70px;
}


.profile-content .profile-footer .profile-footer-item:hover {
  color: #1F4A54;
  background-color: #80BECE;
  cursor: pointer;

  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


