
.profile-bg {
  z-index: 10;

  position: absolute;
  top: 0px;
  left: 0px;

  background-color: #1F4A54;

  width: 1px;
  height: 1px;

  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #1F4A54;
  transition: 1s;
}

.profile-bg.change {
  opacity: 1;
  box-shadow: 0px 0px 0px 2500px #1F4A54;
}